<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Engine Doc - Transform</title>

    <link rel="stylesheet" href="../styles.css">
    <link rel="icon" href="../herb fill.png" type="image/png">
</head>
<body>

    <header class="topbar">
    <button id="home" onclick="GoHome()">Home</button>
    <button id="langBtn" onclick="SwitchLung()">AR</button>
    </header>
    
    <div class="container">

    <aside class="sidebar">
        <a href="../doc.html">About</a>
        <h2>Components</h2>
        <a href="transform.html" class="active">Transform</a>
        <a href="sprite.html">Sprite</a>
        <a href="spritesheet.html">Spritesheet</a>
        <a href="BoxCollider.html">BoxCollider</a>
        <a href="CircleCollider.html">CircleCollider</a>
        <a href="Rigidbody.html">Rigidbody</a>
        <a href="TextWorld.html">TextWorld</a>
        <a href="CameraComponent.html">CameraComponent</a>
        <a href="SoundSource.html">SoundSource</a>
        <a href="Tilemap.html">Tilemap</a>
        <a href="TextUI.html">TextUI</a>
        <a href="ImageUI.html">ImageUI</a>
        <a href="ButtonUI.html">ButtonUI</a>
    </aside>

    <main id="contentEN" class="content" style="display: none;">
        <h1>Transform Component</h1>

        <p>controls position, rotation, and scale of an entity.</p>

        <h2>Properties</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>position</td>
                <td>Vec2</td>
                <td>Entity world position</td>
            </tr>
            <tr>
                <td>scale</td>
                <td>Vec2</td>
                <td>Entity scale</td>
            </tr>
            <tr>
                <td>rotation</td>
                <td>float</td>
                <td>Rotation in degrees</td>
            </tr>
        </table>

        <h2>Example</h2>

        <pre><code>
-- Create a new entity
local entity = Entity("name", "group")

-- Add a new transform component at position [50, 50], scale of 1 and no rotation. 
local transform = entity:AddComponent(Transform(vec2(50, 50), vec2(1, 1), 0.0))

-- access the transform properties
transform.position = vec2(100, 100)
transform.scale = vec2(32, 32)
transform.rotation = 45.0
        </code></pre>
    </main>

    <main id="contentAR" class="content" style="display:block;">
        <h1>Transform Component</h1>

        <p>للتحكم في موقم وحجم ودوران الكائن</p>

        <h2>المتغيرات</h2>
        <table>
            <tr>
                <th>اسم المتغير</th>
                <th>النوع</th>
                <th>الوصف</th>
            </tr>
            <tr>
                <td>position</td>
                <td>Vec2</td>
                <td>لتحريك موقع الكائن</td>
            </tr>
            <tr>
                <td>scale</td>
                <td>Vec2</td>
                <td>حجم الكائن</td>
            </tr>
            <tr>
                <td>rotation</td>
                <td>float</td>
                <td>دوران الكائن</td>
            </tr>
        </table>

        <h2>مثال</h2>

        <pre><code>
-- انشاء كائن جديد
local entity = Entity("name", "group")

-- اضافة مكون Transform, position, scale, rotation
local transform = entity:AddComponent(Transform(vec2(50, 50), vec2(1, 1), 0.0))

-- access the transform properties
transform.position = vec2(100, 100)
transform.scale = vec2(32, 32)
transform.rotation = 45.0
        </code></pre>
    </main>

</div>
    
<script src="../script.js"></script>
</body>
</html>